.jumbotron {
    padding-top: 2rem;
    background-color: #fff1e2;
}

#projects {
    background-color: #ff5500;
}


/* My Keyboard Section */
.keyboard-box {
    position: relative;
    background-color:  darkorange;
    border-radius: 10px;
    height: 444px;
    transform-style: preserve-3d;
}

.keyboard-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.keyboard-box:hover::before {
    opacity: 0.3;
}

.keyboard-box::after {
    content: 'KEYBOARD';
    position: absolute;
    color: #fff;
    font-size: 3.2em;
    font-weight: bold;
    font-style: italic;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.6s;
}

.keyboard-box:hover::after {
    opacity: 0.3;
}

.keyboard-name {
    position: absolute;
    top: 0%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    opacity: 0;
    transition: 0.5s;
    transform: translate3d(0, 0, 40px);
}

.keyboard-box:hover .keyboard-name {
    top: 30px;
    opacity: 0.8;

}

.keyboard-details-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
}

.keyboard-box:hover .keyboard-details-button {
    opacity: 1;
    bottom: 20px;
}

.keyboard-img {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate3d(-50%, 52%, 100px);
    max-width: 300px;
    transition: 0.5s;
}

.keyboard-box:hover .keyboard-img {
    transform: translate3d(-50%, 38%, 100px) rotate(5deg) scale(1.1);
}